<div class="form-box register">
    <h2>Registration</h2>
    <form action="{{ registerActionUrl }}" method="post">
        <div class="input-box">
            <span class="icon"><ion-icon name="person"></ion-icon></span>
            {{ form_errors(registerForm.name) }}
            {{ form_widget(registerForm.name) }}
            {{ form_label(registerForm.name) }}
        </div>
        <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            {{ form_errors(registerForm.email) }}
            {{ form_widget(registerForm.email) }}
            {{ form_label(registerForm.email) }}
        </div>
        <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            {{ form_errors(registerForm.password) }}
            {{ form_widget(registerForm.password) }}
            {{ form_label(registerForm.password) }}
            <label for="">Password</label>
        </div>
        <div class="remember-forgot">
            <label for="">
                {{ form_label(registerForm.agreement) }}
                {{ form_widget(registerForm.agreement) }}
        </div>
        <button type="submit" class="btn">Register</button>

        <div class="login-register">
            <p> Already have an account?
                <a href="#" class="login-link">
                    Login
                </a>
            </p>
        </div>
    </form>
</div>